body {
    
}

.div-carrito {
    display: flex;
    align-items: center;
}

.carrito {
    height: 30px;
    margin-right: 30px;

    transition: 1s;
}

.p {
    margin: 10px;
    width: 100%;
    border-radius: 20px;
    color: #fafafa;
    background: red;
    translate: -40px -20px;
    
}

.carrito:hover {
    border-bottom: 1px solid #F1EAEA;
}